  body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background: linear-gradient(to right, #001f3f, #1e88e5);
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 90vw;
            max-width: 1200px;
        }

        .slide-content {
            position: relative;
            width: 70%;
            height: 500px;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            background-color: rgba(0,0,0,0.2);  
            border-radius: 12px;
            box-shadow:  0 8px 20px rgba(0, 0, 0, 0.6);       
        }

        .frog-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: opacity 0.5s ease-in-out;
        }

        .text-overlay {
            position: absolute;
            bottom: 0%;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            padding: 15px 0;
            width: 100%;
            background: linear-gradient(to top, rgba(0,0,0,0.7), transparent);
        }
        
        .name {
            font-size: 2.5rem;
            text-transform: uppercase;
            font-weight: bold;
            color: rgba(255, 255, 255, 0.9);
            margin-bottom: 8px;
        }

        
        .description {
            font-size: 1rem;
            width: 80%;
            margin: 0 auto;
            color: #f0f0f0;
        }

        .nav-arrow {
            font-size: 3rem;
            cursor: pointer;
            color: rgba(255, 255, 255, 0.5);
            user-select: none;
            transition: color 0.3s ease;
            margin: 0 20px;
            z-index: 10;
        }

        .nav-arrow:hover {
            color: rgba(255, 255, 255, 1);
        }